/* iphone auto zoom */
input[type='text'],input[type='number'],textarea,select {font-size:16px;}

/*tooltip bubble (from http://csstooltip.com/)*/
span.bubble {
      position: absolute;
      width: 310px;
      height: 120px;
      line-height: 10px;
      padding: 5px;
      font-size: 14px;
      text-align: center;
      color: rgb(255, 255, 255);
      background: rgba(230, 230, 230, 0.8);
      border: 0px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0976563) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0976563) 1px 1px 2px 0px;
	  display:none;
}

span.triangle { //arrow
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: rgba(230, 230, 230, 0.8) transparent transparent transparent; /* arrow direction */
      top: 100%; // top:-20
      left: 5%;
}

td {color:black; opacity:0.8;}
select {opacity:1;}

.unknown-expression { 
background-color: red;
color: white;
}

.newline {
	background: lightgrey;
    width: 100%;
    opacity: 0.1;
	}
button {border: 1px solid;}
bubblebutton {width:90px; height:35px;}
